body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0)),
  url("images/large-banner.png");
  background-repeat: repeat-y;
  background-position-y: 50px;
  background-size: contain;
  background-attachment: fixed;
  /* transition: background-color 0.25s linear; */
  overflow-x: hidden;
}

@font-face {
  font-family: fragment-mono;
  src: url(fonts/FragmentMono-Regular.ttf);
}

@font-face {
  font-family: planet-kosmos;
  src: url(fonts/PLANK___.TTF);
}

@font-face {
  font-family: open-sans;
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(fonts/Roboto-Regular.ttf);
}

.nav-items {
  font-family: roboto-regular; 
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
}

.nav-icons {
  font-family: roboto-regular; 
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
}

.nav-t{
  height:40px; 
  justify-content: right; 
  position: absolute; 
  top:0px; 
  position: fixed; 
  top:0px; 
  left:60%; 
  width: 40%;}

.ovl-t{
  z-index: 1; 
  background: rgb(236, 236, 236); 
  position: absolute; 
  top:100%; 
  left: 0%; 
  width: 100%; 
  padding: 0px;
}

.box{
  border-radius: 25px; 
  background: rgb(225,225,225);
  width: 100%;
  z-index: 10;
}

.vbox{
  border-radius: 25px; 
  background: rgb(225,225,225);
  width: 100%;
  z-index: 10;
  height: auto;
}

.box-forms{
  border-radius: 25px; 
  background: rgb(225,225,225);
  width: 100%;
  z-index: 10;
  margin-top: 350px; 
  background: rgba(0,0,0,0); 
  z-index: 2;
}

.box-artists{
  border-radius: 25px; 
  background: rgb(225,225,225);
  width: 100%;
  z-index: 10;
  margin-top: 500px; 
  background: rgba(205, 205, 205,0);
}

.small-link{
  width: 14%;
  margin-top: -50px;
  text-align: right;
  border-bottom: 2px solid rgb(187, 187, 187);
  margin-left: 86%;
  transition: border-bottom 0.2s;
  cursor: pointer;
}

.small-link:hover{
  border-bottom: 2px solid #097f94;
}

.linething{
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border-top: 3px solid rgb(47, 224, 255);
}

.partline{
  width: 15%;
  height: 10px;
  margin-top: 15px;
  margin-left:0px;
  border-top: 3px solid rgb(27, 213, 238);
}

.tinyblock{
  width: 22%;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  float: left;
  transition: box-shadow 0.2s;
  margin-left:6.5%;
}

.tinyblock-starter{
  width: 22%;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  float: left;
  transition: box-shadow 0.2s;
  margin-left:10%;
}

.tinyblock:hover{
  box-shadow: 5px -5px rgb(176, 176, 176);
}

.tinyblock-starter:hover{
  box-shadow: 5px -5px rgb(176, 176, 176);
}

.hbutton{
  background-color: rgb(47, 224, 255);
  color: white;
  border-radius: 25px;
  width: 70%;
  font-size: 20px;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hbutton:hover{
  background-color: #6bcde7ff;
}

.hbuttonlite{
  background-color: rgb(47, 224, 255);
  color: white;
  border-radius: 25px;
  width: 70%;
  padding-left: 0%;
  font-size: 20px;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
}

nav {
  font-family: roboto-regular; 
  position: fixed;
  top: 0px;
  /* background-color: rgb(0,0,0); */
  z-index: 50;
  height: 55px;
  width: 100%;
}

.nav-real{
  font-family: roboto-regular; 
  position: absolute; 
  top:50px; 
  z-index: 1;
  background-color: rgb(237, 237, 237);
  height: 50px;
}

.nav-colored{
  font-family: roboto-regular; 
  background-color: rgb(0,0,0); 
  height:50px; 
  z-index: 2;
}

.nav-icon{
  font-family: roboto-regular; 
  background-color: rgba(0,0,0,0); 
  height:45px;
}

.nav-items li {
  font-family: roboto-regular; 
  font-size: 40px;
  display: inline-block;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 30px;
  margin-top: -15px;
  cursor: pointer;
}


.nav-icons li {
  font-family: roboto-regular; 
  font-size: 40px;
  display: inline-block;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.headertop{
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 50px;
  transition: border-bottom 0.2s;
}

.headertop:hover{
  border-bottom: 3px solid orangered;
}

.big-button{
  font-family: roboto-regular; 
  /* height: 75px; */
  /* width: 100px; */
  background-color: #0cc1f1ff;
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 350px;
  border-radius: 25px;
  color: white;
  border: 3px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.big-button:hover{
  background-color: #6bcde7ff;
}

.big-button-at{
  font-family: roboto-regular; 
  /* height: 75px; */
  /* width: 100px; */
  background-color: #0cc1f1ff;
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 350px;
  border-radius: 25px;
  color: white;
  border: 3px solid black;
  cursor: pointer;
  text-align: center; margin-top: 25px; margin-bottom:75px;
  transition: background-color 0.2s;
}

.big-button-at:hover{
  background-color: #6bcde7ff;
}


.nav-items li a {
  font-family: roboto-regular; 
  display: block;
  color: rgb(60, 60, 60);
  border-bottom: 2px solid rgb(255, 128, 0);
  transition: border-color 0.5s, border-bottom-width 0.5s, color 0.5s;
}

.nav-icons li a {
  font-family: roboto-regular; 
  display: block;
  color: rgb(60, 60, 60);
  /* border-bottom: 2px solid rgb(255, 128, 0); */
  transition: border-color 0.5s, border-bottom-width 0.5s, color 0.5s;
}

.nav-items li a:hover{
  display: block;
  color: rgb(0, 0, 0);
  border-color: rgb(255, 42, 0);
  border-bottom-width: thick;
}

.header {
  font-family: roboto-regular; 
  cursor: pointer;
  font-size: 1.5rem;
  color:black; 
  margin-top: 10px; 
  margin-left: 50px;
}

.playlist{
  font-family: roboto-regular; 
  color: white;
  padding-bottom: 10px;
}

.spacer{
  font-family: roboto-regular; 
  padding-bottom: 10px;
  height: 100px;
  opacity: 0;
}

.placeholder{
  height: 100px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.hidden { 
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}



h1 {
  font-family: roboto-regular; 
  font-size: 4rem;
}

h2 {
  font-family: roboto-regular; 
  font-size: 2rem;
}

h3 {
  font-family: roboto-regular; 
}

a {
  font-family: roboto-regular; 
  text-decoration: none;
}

.main-title{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
}

.main-title-kosmos{
  font-family: planet-kosmos; 
  padding-top: 70px;
  text-align: center;
}

.main-title-np{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
  padding-top: 75px; 
  padding-bottom: 25px; 
  line-height: 0px; 
  color: #323233;
}

.main-title-big{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
  padding-top: 0px; 
  line-height: 50px; 
  color: black; 
  font-family: planet-kosmos;
}


.obscureoverlay{  
  font-family: roboto-regular; 
  position: absolute; 
  background-image: linear-gradient(to right,rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgba(0,0,0,0.5),rgba(50,50,50,0),rgba(50,50,50,0),rgba(0,0,0,0.5),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0));
}

.blackoverlay{  
  font-family: roboto-regular; 
  position: absolute; 
  background: black;
}

.mainstuffinvs{
  font-family: roboto-regular; 
  position: relative;
  width: 80%;
  left: 10%;
  opacity: 0;
  display: none;
  background: rgba(225,225,225,0.85); 
  border-radius: 25px;
  padding: 5%; 
  padding-top: 0px; 
  margin-left: -5%;
}

.mainstuffmain{
  font-family: roboto-regular; 
  position: relative;
  width: 80%;
  left: 10%;
  text-align: center; 
  margin-top: 100px; 
  opacity: 0.85; 
  z-index: 1;
}

.blurb {
  font-family: roboto-regular; 
  text-align: center;
}

.whitetext {
  font-family: roboto-regular; 
  text-align: center;
  color: white;
  font-size: 25px;
}

.whitetextlink {
  font-family: roboto-regular; 
  text-align: center;
  color: white;
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  border-bottom: 2px solid rgb(77, 214, 251);
}

.monobutton{
  background-color: white;
  color: black;
  border-radius: 25px;
  width: 70%;
  font-size: 30px;
  margin-right: 15%;
  border: 3px solid white;
  text-align: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.monobutton:hover{
  background-color: rgb(176, 176, 176);
}

.invis-small{
  opacity: 0;
  font-size: 10px;
  z-index: -1;
}

.personblock{
  font-family: roboto-regular; 
  float: center;
  width: 100%;
  height: 250px;
  border: 3px solid black;
}

.fullwidth{
  width: 100%;
}

.leftblock{
  width: 25%;
  float: left;
  text-align: right;  
  padding-left: 20%;
}

.rightblock{
  width: 25%;
  float: right;
  text-align: left;
  padding-right: 20%;
}

.leftbox{
  width: 47.75%;
  float: left;
  text-align: right;  
  margin-right: 2.25%;
  background-color: rgb(70, 197, 247);
  border-radius: 25px;
}

.leftbox-forms{
  width: 47.75%;
  float: left;
  text-align: right;  
  margin-right: 2.25%;
  background-color: rgb(70, 197, 247);
  border-radius: 25px;
  background: rgb(203, 203, 203);
}

.rightbox{
  width: 47.75%;
  float: right;
  text-align: left;
  margin-left: 2.25%;
  background-color: rgb(70, 197, 247);
  border-radius: 25px;
}

.rightbox-forms{
  width: 47.75%;
  float: right;
  text-align: left;
  margin-left: 2.25%;
  background-color: rgb(70, 197, 247);
  border-radius: 25px;
  background: rgb(203, 203, 203);
}

.gform{
  margin-left: 10%; 
  margin-right: 10%;
}

.personname {
  font-family: roboto-regular; 
  text-align: center;
  color: rgb(0, 0, 255);
}

.invis{
  opacity: 0;
  z-index: -1;
}

.persondetails {
  font-family: roboto-regular; 
  text-align: center;
  color:rgb(61, 128, 244);
}

.mailhover {
  height: 50px;
  width: 150px;
  background: rgba(0,0,0,0);
  color: rgb(40, 227, 11);
  position: fixed;
  left: -100px;
  z-index: 5;
}

.corneroverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  background: rgb(0,0,0);
  z-index: 6;
}

.scroll-down {
  background-color: rgb(47, 224, 255);
  border-radius: 50%;
  width: 64px;
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  border: 3px solid black;
  cursor: pointer;
  margin-bottom: 2rem;
}

#backtotop {
  position: fixed; 
  right: 2.5%;
  bottom: 0;
  width: 64px;
  aspect-ratio: 1 / 1;
  z-index: 2;
  border-radius: 50%;
  border: 3px black solid;
  background-color: rgb(47, 224, 255);
  font-size: 2.5rem;
  cursor: pointer;
}