body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0)),
  url("images/large-banner.png");
  background-repeat: repeat-y;
  background-position-y: 50px;
  background-size: contain;
  background-attachment: fixed;
  /* transition: background-color 0.25s linear; */
  overflow-x: hidden;
}

:root {
  --lightbg: rgb(230, 230, 230);
  --darkbg: rgb(46, 46, 46);
  --lightmain: rgb(14, 103, 198);
  --darkmain: #b178eb;
  --lightaccent: #2f2feb;
  --darkaccent: #8127db;
  --lightcontrast: rgb(35, 35, 35);
  --darkcontrast: rgb(230,230,230);
  --lightslight: rgb(255,255,255);
  --darkslight: rgb(0,0,0);
  --lightunderline: #31d2ef;
  --darkunderline: #cf5dfc;

  --bg: rgb(230, 230, 230);
  --main: rgb(27, 213, 238);
  --accent: #6bcde7ff;
  --contrast: rgb(230,230,230);
  --slight: rgb(255,255,255);
  --underline: #118a88;
  --opposite: #8127db;
  --oppositesolid: black;
}

@font-face {
  font-family: fragment-mono;
  src: url(fonts/FragmentMono-Regular.ttf);
}

@font-face {
  font-family: planet-kosmos;
  src: url(fonts/PLANK___.TTF);
}

@font-face {
  font-family: open-sans;
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(fonts/Roboto-Regular.ttf);
}

.nav-items {
  font-family: roboto-regular; 
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
  color: var(--bg);
  transition: color 0.2s;
}

.nav-icons {
  font-family: roboto-regular; 
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
}

.nav-t{
  height:40px; 
  justify-content: right; 
  position: absolute; 
  top:0px; 
  position: fixed; 
  top:0px; 
  left:60%; 
  width: 40%;
}

.ovl-t{
  background-color: var(--bg);
  z-index: 1; 
  opacity: 1;
  position: absolute; 
  top:100%; 
  left: 0%; 
  width: 100%; 
  padding: 0px;
  transition: background-color 0.2s;
}

.box{
  border-radius: 25px; 
  background: var(--bg);
  width: 100%;
  z-index: 10;
  transition: background-color 0.2s;
}

.box-white{
  background-color: var(--bg);
  border-radius: 25px;
  padding: 5%;
  margin-top: 100px;
  padding-top: 50px;
  width: 80%;
  margin-left: 8%;
  transition: background-color 0.2s;
}

.vbox{
  border-radius: 25px; 
  background: var(--bg);
  width: 100%;
  z-index: 10;
  height: auto;
  transition: background-color 0.2s;
}

.box-forms{
  border-radius: 25px; 
  background: var(--bg);
  width: 100%;
  z-index: 10;
  margin-top: 350px; 
  background: rgba(0,0,0,0); 
  z-index: 2;
  transition: background-color 0.2s;
}

.box-artists{
  border-radius: 25px; 
  background: var(--bg);
  width: 100%;
  z-index: 10;
  padding-top: 300px;
  background: rgba(205, 205, 205,0);
  transition: background-color 0.2s;
}

.small-link{
  width: 14%;
  margin-top: -50px;
  text-align: right;
  border-bottom: 2px solid var(--contrast);
  color: var(--contrast);
  margin-left: 86%;
  transition: border-bottom 0.2s;
  cursor: pointer;
}

.small-link:hover{
  border-bottom: 2px solid var(--underline);
}

.linething{
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border-top: 3px solid var(--main);
  transition: border-top 0.2s;
}

.partline{
  width: 15%;
  height: 10px;
  margin-top: 15px;
  margin-left:0px;
  border-top: 3px solid var(--accent);
  transition: border-top 0.2s;
}

.tinyblock{
  width: 22%;
  background: var(--slight);
  border-radius: 25px;
  text-align: center;
  float: left;
  margin-left:6.5%;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.tinyblock-starter{
  width: 22%;
  background: var(--slight);
  border-radius: 25px;
  text-align: center;
  float: left;
  transition: box-shadow 0.2s, background-color 0.2s;
  margin-left: 10%;
}

.tinyblock:hover{
  box-shadow: 0px 0px 10px 10px rgb(121, 121, 121);
}

.tinyblock-starter:hover{
  box-shadow: 0px 0px 10px 10px rgb(121, 121, 121);
}

.hbutton{
  background-color: var(--main);
  color: white;
  border-radius: 25px;
  width: 70%;
  font-size: 20px;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hbutton:hover{
  background-color: var(--accent);
}

.hbuttonartists{
  background-color: var(--main);
  color: white;
  border-radius: 25px;
  margin-left: 10%;
  width: 70%;
  font-size: 20px;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hbuttonartists:hover{
  background-color: var(--accent);
}

.hbuttonlite{
  background-color: var(--main);
  color: white;
  border-radius: 25px;
  width: 70%;
  padding-left: 0%;
  font-size: 20px;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
}

nav {
  font-family: roboto-regular; 
  position: fixed;
  top: 0px;
  /* background-color: rgb(0,0,0); */
  z-index: 50;
  height: 55px;
  width: 100%;
}

.nav-real{
  font-family: roboto-regular; 
  position: absolute; 
  top:50px; 
  z-index: 1;
  background-color: var(--bg);
  height: 50px;
  transition: background-color 0.2s;
}

.nav-colored{
  font-family: roboto-regular; 
  background-color: rgb(0,0,0); 
  height:50px; 
  z-index: 2;
}

.nav-icon{
  font-family: roboto-regular; 
  background-color: rgba(0,0,0,0); 
  height:45px;
}

.nav-items li {
  font-family: roboto-regular; 
  font-size: 40px;
  display: inline-block;
  color: var(--contrast);
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 30px;
  margin-top: -15px;
  cursor: pointer;
  transition: color 0.2s;
}


.nav-icons li {
  font-family: roboto-regular; 
  font-size: 40px;
  display: inline-block;
  color: var(--contrast);
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s;
}

.headertop{
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 50px;
  transition: border-bottom 0.2s;
}

.headertop:hover{
  border-bottom: 3px solid var(--accent);
}

.big-button{
  font-family: roboto-regular; 
  /* height: 75px; */
  /* width: 100px; */
  background-color: var(--main);
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 350px;
  border-radius: 25px;
  color: white;
  border: 3px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.big-button:hover{
  background-color: var(--accent);
}

.big-button-at{
  font-family: roboto-regular; 
  /* height: 75px; */
  /* width: 100px; */
  background-color: var(--main);
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 350px;
  border-radius: 25px;
  color: white;
  border: 3px solid black;
  cursor: pointer;
  text-align: center; margin-top: 25px; margin-bottom:75px;
  transition: background-color 0.2s;
}

.big-button-at:hover{
  background-color: var(--accent);
}


.nav-items li a {
  font-family: roboto-regular; 
  display: block;
  color: var(--opposite);
  border-bottom: 2px solid var(--accent);
  transition: border-color 0.5s, border-bottom-width 0.5s, color 0.5s;
}

.nav-icons li a {
  font-family: roboto-regular; 
  display: block;
  color: var(--opposite);
  /* border-bottom: 2px solid rgb(255, 128, 0); */
  transition: border-color 0.5s, border-bottom-width 0.5s, color 0.5s;
}

.nav-items li a:hover{
  display: block;
  color: var(--accent);
  border-color: var(--opposite);
  border-bottom-width: thick;
}

.header {
  font-family: roboto-regular; 
  cursor: pointer;
  font-size: 1.5rem;
  color:black; 
  margin-top: 10px; 
  margin-left: 50px;
}

.playlist{
  font-family: roboto-regular; 
  color: white;
  padding-bottom: 10px;
}

.spacer{
  font-family: roboto-regular; 
  padding-bottom: 10px;
  height: 100px;
  opacity: 0;
}

.placeholder{
  height: 100px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.hidden { 
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}



h1 {
  font-family: roboto-regular; 
  font-size: 4rem;
}

h2 {
  font-family: roboto-regular; 
  font-size: 2rem;
}

h3 {
  font-family: roboto-regular; 
}

a {
  font-family: roboto-regular; 
  text-decoration: none;
}

.main-title{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
  color: var(--contrast);
}

.main-title-np{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
  padding-top: 75px; 
  padding-bottom: 25px; 
  line-height: 0px; 
  color: var(--contrast);
}

.main-title-big{
  font-family: roboto-regular; 
  padding-top: 70px;
  text-align: center;
  padding-top: 0px; 
  line-height: 50px; 
  color: black; 
  font-family: planet-kosmos;
  color: var(--oppositesolid);
}


.obscureoverlay{  
  font-family: roboto-regular; 
  position: absolute; 
  background-image: linear-gradient(to right,rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgba(0,0,0,0.5),rgba(50,50,50,0),rgba(50,50,50,0),rgba(0,0,0,0.5),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0),rgb(0,0,0));
}

.blackoverlay{  
  font-family: roboto-regular; 
  position: absolute; 
  background: black;
}

.mainstuffinvs{
  font-family: roboto-regular; 
  position: relative;
  width: 80%;
  left: 10%;
  opacity: 0;
  display: none;
  background: rgba(225,225,225,0.85); 
  border-radius: 25px;
  padding: 5%; 
  padding-top: 0px; 
  margin-left: -5%;
}

.mainstuffmain{
  font-family: roboto-regular; 
  position: relative;
  width: 80%;
  left: 10%;
  text-align: center; 
  margin-top: 100px; 
  opacity: 0.85; 
  z-index: 1;
}

.mainstuffblank{
  font-family: roboto-regular; 
  position: relative;
  opacity: 0;
  display: none;
  background: rgba(225,225,225,0); 
  border-radius: 25px;
  padding: 5%; 
  padding-top: 0px; 
  margin-left: -5%;
}

.blurb {
  color: var(--contrast);
  font-family: roboto-regular; 
  text-align: center;
  transition: color 0.2s;
  font-size: 23px;
}

.whitetext {
  font-family: roboto-regular; 
  text-align: center;
  color: white;
  font-size: 25px;
}

.whitetextlink {
  font-family: roboto-regular; 
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  border-bottom: 2px solid var(--main);
  transition: border-bottom 0.2s;
}

.monobutton{
  background-color: var(--bg);
  color: var(--contrast);
  border-radius: 25px;
  width: 70%;
  font-size: 30px;
  margin-right: 15%;
  text-align: center;
  border: 3px solid var(--contrast);
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  cursor: pointer;
}

.monobutton:hover{
  background-color: var(--slight);
  color: var(--main);
  border: 3px solid var(--main);
}

.invis-small{
  opacity: 0;
  font-size: 10px;
  z-index: -1;
}

.personblock{
  font-family: roboto-regular; 
  float: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  padding-bottom: 15px;
}

.fullwidth{
  width: 100%;
}

.leftblock{
  width: 25%;
  float: left;
  text-align: right;  
  padding-left: 20%;
}

.midblock{
  width: 25%;
  float: center;
  text-align: right;  
  padding-left: 37.5%;
}

.rightblock{
  width: 25%;
  float: right;
  text-align: left;
  padding-right: 20%;
}

.leftbox{
  width: 47.75%;
  float: left;
  text-align: right;  
  margin-right: 2.25%;
  background-color: var(--main);
  transition: background-color 0.2s;
  border-radius: 25px;
}

.leftbox-forms{
  width: 47.75%;
  float: left;
  text-align: right;  
  margin-right: 2.25%;
  background-color: var(--main);
  transition: background-color 0.2s;
  border-radius: 25px;
  background: rgb(203, 203, 203);
}

.rightbox{
  width: 47.75%;
  float: right;
  text-align: left;
  margin-left: 2.25%;
  background-color: var(--main);
  transition: background-color 0.2s;
  border-radius: 25px;
}

.rightbox-forms{
  width: 47.75%;
  float: right;
  text-align: left;
  margin-left: 2.25%;
  background-color: var(--main);
  transition: background-color 0.2s;
  border-radius: 25px;
  background: rgb(203, 203, 203);
}

.gform{
  margin-left: 10%; 
  margin-right: 10%;
}

.personname {
  font-family: roboto-regular; 
  text-align: center;
  color: var(--accent);
  transition: color 0.2s;
}

.invis{
  opacity: 0;
  z-index: -100;
}

.persondetails {
  font-family: roboto-regular; 
  text-align: center;
  color: var(--main);
  transition: color 0.2s;
  padding-bottom: 15px;
}

.persondetailslite {
  font-family: roboto-regular; 
  text-align: center;
  color: var(--main);
  transition: color 0.2s, border-bottom 0.2s;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--underline);
  width: 50%;
  margin-left: 25%;
}

.persondetailslite:hover {
  color: var(--contrast);
  border-bottom: 2px solid var(--accent);
}

.mailhover {
  height: 50px;
  width: 300px;
  background: rgba(0,0,0,0);
  color: rgb(40, 227, 11);
  position: fixed;
  left: -100px;
  z-index: 5;
}

.corneroverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  background: rgb(0,0,0);
  z-index: 6;
}

.scroll-down {
  background-color: var(--main);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 2.5rem;
  border: 3px solid black;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: color 0.2s, background-color 0.2s;
}

.scroll-down:hover {
  background-color: var(--accent);
  color: white;
  transition: background-color 0.2s;
}

#backtotop {
  position: fixed; 
  right: 2.5%;
  bottom: 0;
  width: 64px;
  height: 64px;
  z-index: 2;
  border-radius: 50%;
  border: 3px black solid;
  background-color: var(--main);
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

#backtotop:hover {
  background-color: var(--accent);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  width: 45px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
  width: 45px;
}

.slider.round:before {
  border-radius: 50%;
} 